<app-header (fireNavigation)="onNavigationFired($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="currentView === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="currentView === 'shopping'"></app-shopping-list>
      <!-- <app-recipe-list></app-recipe-list>
      <app-recipe-detail></app-recipe-detail>
      <app-recipe-item></app-recipe-item>
      <app-shopping-list-edit></app-shopping-list-edit> -->

    </div>
  </div>
</div>
